body {
	margin: 0 auto;
	text-align:center;
	padding:50px;
	font-family: Arial;
}
h1 {
	font-size:45px;
	margin:0px;
}
h2, h2 a {
	width:500px;
	font-size:16px;
	text-align:right;
	margin: 0 auto;
	text-decoration:none;
}
#container {
	margin:0 auto;
	margin-top:20px;
	font-size: 30px;
	background: #efefef;
	padding:50px;
	text-shadow: 2px 2px 2px #BBBBBB;
}
.piece {
	/*width: 32px;
	height:32px;
	padding:32px;*/
	float: left;
	text-align: center;
	background-color: #fff;
	border:2px solid #000;
	position:relative;
	cursor:pointer;
}
.hole {
/*	width: 96px;
	height:96px;*/
	float: left;
	text-align: center;
	background-color: #ff0000;
	border:2px solid #000;
	position:relative;
	text-indent:9999px;
	cursor:pointer;
}
input {
	padding: 10px;
}
#controls {
	padding: 30px;
}
#statistics {
	margin: 0 auto;
	padding-top: 20px;
	text-align: right;
	width: 400px;
}
#win {
	color: green;
	font-size: 40px;
}

.correct {
	background:green;
	color:white;
}

.empty {
	background:white;
	color:black;
}